<!DOCTYPE html>
<html lang="fr">

{%include "model/head.html"%}

<body>
<div class="w-50 mt-3 m-auto">
    <form action="/login" method="POST">
        <h1 class="h3 mb-3 fw-normal">Connexion</h1>

        <div class="mb-3 form-floating">
            <input type="email" class="form-control" name="postEmail" id="postEmail" placeholder="name@example.com">
            <label for="postEmail">Email address</label>
        </div>
        <div class="mb-3 form-floating">
            <input type="password" class="form-control" name="postPassword" id="postPassword" placeholder="Password">
            <label for="postPassword">Password</label>
        </div>
        <div>
            {% if message %}
            <p>
                {{ message }}
            </p>
            {% endif %}
        </div>
        <button class="mb-3 w-50 btn btn-lg btn-primary" type="submit">Sign in</button>
    </form>
</div>

</body>
{% include "model/script.html"%}
{% include "model/footer.html"%}

</html>